.transaction {
  width: 700px;
  color: rgb(58, 57, 57);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.089);
}
thead {
  background-color: rgb(36, 120, 189);
  color: white;
}

tbody {
  background-color: rgba(139, 138, 138, 0.8);
}

th {
  padding: 10px;
  text-transform: uppercase;
}

td {
  padding: 10px;
  text-align: center;
}

tr:nth-child(2n) {
  background: rgba(219, 219, 219, 0.7);
}
